.Home {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  background: var(--gradient-color);
}

.Home__links {
  width: auto;
}

.Home__logo_title {
  font-weight: bolder;
}

.Home__logo_title_accent {
  color: var(--dark-color);
}

.Home__logout_btn {
  background: transparent;
  border: none;
  margin: 0 auto;
}

@media (max-width: 991px) {
  // Que esto se active solo en un media query, para que funcione el responsive
  .Home{
    z-index: 10;
  }
  .Home__links {
    width: 100%;
    text-align: center;
  }
}