.RegisterForm {
	padding: 2rem 1rem 2rem 1rem;
	border-radius: 8px;
	text-align: center;
	align-self: center;
	justify-self: center;
	margin: 1rem;
	-webkit-box-shadow: var(--coolShadow);
	-moz-box-shadow: var(--coolShadow);
	box-shadow: var(--coolShadow);
}

.customRegisterForm {
	padding-left: 3rem;
	padding-right: 3rem;
}

.RegisterItem {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	height: 2.5rem;
	border-radius: 5px;
	padding-left: 5px;
	background-color: var(--gray1-color);
	svg {
		scroll-padding-right: 10px;
		color: var(--gray3-color);
	}
	input {
		border: inherit;
		border-left: none;
		border-right: none;
		width: 100%;
		background: inherit;
		height: inherit;
	}
	input:focus {
		outline: none;
	}
	select {
		border: inherit;
		border-left: none;
		border-right: none;
		width: 100%;
		background: inherit;
		height: inherit;
	}
}
.RegisterItem.error {
	border: 2px solid var(--error-color);
}

.btnRegister {
	background: var(--gradient-color);
	border: 2px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	color: var(--light-color);
	width: 200px;
	height: 50px;
}

.input_feedback {
	color: var(--error-color);
	font-size: 14px;
}

@media(max-width: 480px){
	.RegisterForm{
		-webkit-box-shadow: var(--coolShadow-small);
		-moz-box-shadow: var(--coolShadow-small);
		box-shadow: var(--coolShadow-small);
	}
}