.search_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--dark-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--light-color);
}

.search_wrapper__center {
  width: calc(100% - 4.5rem);
}

.search_wrapper__left {
  outline: none;
  width: 1rem;
}

