.filters_wrapper {
  margin-top: var(--big-space);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button{
    margin-bottom: var(--medium-space);
  }
}

@media(max-width: 1280px){
  .filters_wrapper{
     max-width: 720px;
      margin: 0 auto;
      margin-top: 2rem; 
    }
}