.Turistic_site_wrapper {
  position: relative;
  margin-top: 1rem;
}

.Turistic_site_badge {
  position: absolute;
  top: -1rem;
  left: -1rem;
  background-color: var(--primary-color);
  padding: .5rem;
  border-radius: 100px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: var(--light-color);
  font-weight: bolder;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.Turistic_site {
  width: 100%;
  height: 180px;
  display: flex;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--gray2-color);
  background-color: var(--light-color);
  cursor: pointer;
}

.Turistic_site__img_wrapper {
  height: inherit;
  display: flex;
  max-width: 200px;
}

.Turistic_site__img {
  height: inherit;
  display: flex;
  max-width: 200px;
  width: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Turistic_site__detail {
  padding: var(--medium-space);
  display: flex;
  flex-direction: column;
  width: 100%;
  h2{
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;    
  }
}

.Turistic_site__location {
  color: var( --gray3-color);
}

.Turistic_site__category {
  color: var( --gray3-color);
}

.Turistic_site__location, .Turistic_site__category, .Turistic_site__stars  {
  margin: 0 auto;
}  

@media(max-width: 768px){
  .Turistic_site_wrapper{
    width: 100%;
  }
}

@media(max-width: 960px){
  .Turistic_site{
    height: 140px;
  }
  .Turistic_site__detail {
    width: 100%;
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
  }
  .Turistic_site__location, .Turistic_site__category, .Turistic_site__stars  {
    margin: 0 auto;
  }  
}
@media(max-width: 540px){
  .Turistic_site_wrapper{
    width: 100%;
    margin-top: 1rem;
    }
  .Turistic_site{
    display: flex;
    flex-direction: column;
    height: 100%;
    
  }

  .Turistic_site__img {
    height: 200px;
    display: flex;
    max-width: initial;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-left-radius: initial;

  }

  .Turistic_site__img_wrapper {
    height: initial;
    display: flex;
    max-width: initial;
  }

  .Turistic_site__detail {
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
    h2{
      font-size: 1.2rem;
    }
  }
  .Turistic_site__location, .Turistic_site__category, .Turistic_site__stars  {
    margin: 0 auto;
  }  
}