.results_wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--big-space);
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 3rem;
}

.results_empty {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  
  h2{
    text-align: center;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.results_empty::-webkit-scrollbar {
  display: none;
}

.results_empty_msg {
  color: var(--light-color);
  font-size: 2.5rem;
}

@media(max-width: 540px){
  .results_empty{
    display: block;
    height: fit-content;
    .results_empty_msg{
      font-size: 1.5rem;
    }
  }
}

@media(max-width: 960px){
  .results_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
