.btn {
	background: var(--gradient-color);
	border: 2px solid #ffffff;
	box-sizing: border-box;
	box-shadow: var(--coolShadow-small);
	border-radius: 50px;
	color: var(--light-color);
	width: 200px;
	height: 50px;
}
