.container {
	position: relative;
}

.input {
	width: 100%;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	outline: none;
	border-radius: 50px;
  background-color: var(--light-color);
}

.suggestionsContainerOpen {
	display: block;
	position: absolute;
	top: 46px;
	width: 100%;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
  max-height: 250px;
  overflow-y: auto;
}

.suggestionsList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.suggestionHighlighted {
	background-color: #ddd;
}