.detail {
	height: 100%;
	display: flex;
	align-items: center;
	&__info {
		border: 1px solid var(--gray1-color);
		border-radius: 8px;
		padding: 1rem;
		-webkit-box-shadow: -32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		-moz-box-shadow: -32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		box-shadow: -32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		h1 {
			margin: 0 0;
			text-align: center;
		}
		h3 {
			color: var(--gray3-color);
		}
		.buttons_wrapper {
			display: flex;
			justify-content: center;
			gap: 1rem;
		}
	}
	&__image {
		-webkit-box-shadow: 32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		-moz-box-shadow: 32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		box-shadow: 32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		border-radius: 8px;
		padding: 0;
		img {
			border-radius: 8px;
			width: 100%;
			height: 650px;
			object-fit: cover;
		}
		max-height: 650px;
		object-fit: cover;
	}
}

.detailIcons {
	justify-content: space-evenly;
	a{
		color: var(--primary-color)
	}
	a:hover{
		text-decoration: underline;
	}
}
@media (max-width: 991px) {
	.detail {
		padding-top: 5rem;
		&__image {
			-webkit-box-shadow: -32px 32px 64px 0px rgba(0, 0, 0, 0.44);
			-moz-box-shadow: -32px 32px 64px 0px rgba(0, 0, 0, 0.44);
			box-shadow: -32px 32px 64px 0px rgba(0, 0, 0, 0.44);
		}
	}
}

.detailIcons {
	align-items: center;
	color: var(--dark-color);
	h3 {
		margin-bottom: 0;
		color: inherit;
	}
	a {
		margin-bottom: 0;
	}
}

.mapContainer {
	height: 320px;
}
