.forgot_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 900;
    text-shadow: -13px 5px 8px rgba(150, 150, 150, 0.7);
  }
  input{
    max-width: 700px;
    background-color: white;
  }

  svg {
    width: 100%;
    fill: var(--primary-color);
    bottom: 0;
  }
 
  .form{  
   margin: auto 1rem;
   display: flex;
   gap: 1rem;
   flex-direction: column;
   background-color: var(--light-color);
   padding: 2rem;
   border-radius: 8px;
   -webkit-box-shadow: var(--coolShadow);
   -moz-box-shadow: var(--coolShadow);
   box-shadow: var(--coolShadow);
   h1{
      text-align: center;
   }
  }
  .iconContainer  {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 10px;  
    align-self: center;
  }
}
