.Home {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: fit-content;

  // background: #0f2027; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #0f2027, #203a43, #2c5364 );  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: rgb(34,44,97);
  // background: linear-gradient(180deg, rgba(34,44,97,1) 0%, rgba(57,75,170,1) 20%, rgba(52,212,183,1) 100%);
  background: url(../../public/img/home-bg.png) no-repeat fixed center;
  background-size: cover;

}

.Home__title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 58px;
  color:var(--light-color);
  margin: var(--big-space) 0;
  margin-bottom: 3rem;
}

@media (max-width: 411px){

  .Home__title{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0;

  }
}

@media (max-width: 768px){
  .Home__title{
    text-align: center;
    line-height: 2.5rem;
  }
}