.loginContainer {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 1fr;
	height: 100vh;
}

.imagesContainer {
	background: var(--gradient-color);
	color: var(--light-color);
	text-align: center;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.imagesDetail img {
	max-height: 170px;
}

.react-icons {
	vertical-align: middle;
}

@media (max-width: 991px) { 
  .loginContainer{
		display: flex;
		flex-direction: column;
	}
	.imagesContainer{
		padding-top: 5rem;
		padding-bottom: 1rem;
	}
}
