.background {
	background-image: url("../../public/img/background404.png");
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position-y: bottom;
	object-fit: cover;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	align-items: flex-end;
}

.leftColumn {
	text-align: center;
	img {
		max-width: 25rem;
	}
}

.rightColumn {
	align-self: center;
	text-align: center;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	h1 {
		font-size: 4rem;
	}
	button {
		margin-top: 3rem;
		background: #34d4b7;
		border-radius: 10px;
		&:hover {
			background-color: #289c87;
		}
	}
}
