.profileFavs {
	height: 100%;
	margin: 0;
	padding: 0;
}

.profile {
	background-color: var(--primary-color);
	display: flex;
	&__content {
		height: 0;
		margin: 0 auto;
		position: sticky;
		top: 35%;
		text-align: center;
		h2,
		h3 {
			color: var(--light-color);
			text-align: center;
		}
		img {
			max-height: 170px;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
	}
}

.favs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 4rem;
	gap: 2rem;
	.favsTitle,
	h3 {
		align-self: center;
		color: var(--primary-color);
		margin: 0 auto;
	}
	.favsItems {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-self: center;
		gap: 1rem;
	}
}

@media (max-width: 991px) {
	.profileFavs {
		flex-direction: column;
	}
	.favs {
		justify-content: flex-start;
		overflow: scroll;
	}
	.profile {
		min-height: 350px;
		&__content {
			height: 0;
			top: 10%;
		}
	}
}
