.Recommendations {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../public/img/home-bg.png) no-repeat fixed center;
  background-size: cover;
}

.Recommendations__title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 58px;
  color:var(--light-color);
  margin: var(--big-space) 0;
  margin-bottom: 2rem;
  text-align: center;
}

.Recommendations_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.Recommendations_wrapper_right {
  display: flex;
  justify-content: center;
  width: 60%;
}

.Recommendations_wrapper_center {
  display: flex;
  justify-content: center;
  width: 30%;
}

.Recommendations_wrapper_left {
  display: flex;
  justify-content: center;
  width: 9%;
}

@media (max-width: 411px){

  .Recommendations__title{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0;
  }

  .Recommendations_wrapper {
    flex-direction: column;
  }

  .Recommendations_wrapper_right {
    width: 100% !important;
    margin: .5rem 0
  }
  
  .Recommendations_wrapper_center {
    width: 100% !important;
    margin: .5rem 0
  }
  
  .Recommendations_wrapper_left {
    width: 100% !important;
    margin-top: .5rem
  }
}

@media (max-width: 768px){
  .Recommendations__title{
    text-align: center;
    line-height: 2.5rem;
  }

  .Recommendations_wrapper_right {
    width: 46%;
  }
  
  .Recommendations_wrapper_center {
    width: 35%;
  }
  
  .Recommendations_wrapper_left {
    width: 9%;
  }
}