.registerContainer {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 1fr;
	height: 100%;
}

.imagesContainer {
	background: var(--gradient-color);
	color: var(--light-color);
	text-align: center;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding-bottom: 1rem;
}

.react-icons {
	vertical-align: middle;
}

@media (max-width: 991px) { 
  .registerContainer{
		display: flex;
		flex-direction: column;
		padding-top: 5rem;
		height: 100%;
	}
	.imagesContainer{
		padding-top: 1rem;
		height: 100%;
	}
}