.Search {
  padding-top: 5rem;
  min-height: 100%;
  height: fit-content;
  padding-bottom: 5rem;

  // background: rgb(34,44,97);
  // background: linear-gradient(180deg, rgba(34,44,97,1) 0%, rgba(57,75,170,1) 20%, rgba(52,212,183,1) 100%);

  background: url(../../public/img/home-bg.png) no-repeat fixed center;
  background-size: cover;
}
