.Filter {
  box-shadow: var(--regular-box-shadow);
  width: 90px;
  height: 90px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray2-color);
  cursor: pointer;
  margin: 0 var(--small-space);
  background-color: var(--light-color);
  outline: none;
}

.Filter__selected {
  box-shadow: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;

  .Filter__icon {
    color: var(--light-color);
  }
}

.Filter:focus {
  outline: none;
}

.Filter__icon {
  color: var(--secondary-color);
  outline: none;

  svg {
    height: 50px;
    width: 50px;
  }
}

.Filter_text {
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  outline: none;
}

@media(max-width: 441px){
  
}