.Search_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 1360px;
}

.Search_wrapper_center {
  display: flex;
  justify-content: center;
  width: 90%;
}

.Search_wrapper_left {
  display: flex;
  justify-content: center;
  width: 9%;
}

@media (max-width: 411px){
  .Search_wrapper{
    display: block;
  }
  .Search_wrapper_center{
    display: block;
    width: 100%;
    margin-bottom: var(--medium-space);
  }
  .Search_wrapper_left {
    display: inline-block;
    width: inherit;
    button{
      display: block;
      width: 100%;
      height: 44px;
    }
  }
}

@media (max-width: 991px){
  .Search_wrapper{
    display: block;
  }
  .Search_wrapper_center{
    display: block;
    width: 100%;
    margin-bottom: var(--medium-space);
  }
  .Search_wrapper_left {
    display: inline-block;
    width: inherit;
    button{
      display: block;
      width: 100%;
      height: 44px;
    }
  }
}