.loginForm {
	padding: 2rem 1rem 2rem 1rem;
	border-radius: 8px;
	text-align: center;
	align-self: center;
	justify-self: center;
	margin: 1rem;
	-webkit-box-shadow: var(--coolShadow);
  -moz-box-shadow: var(--coolShadow);
	box-shadow: var(--coolShadow);
}

.customLoginForm {
	padding-left: 3rem;
	padding-right: 3rem;

	a {
		color: #394baa;
		text-decoration-line: underline;
	}
}

.loginItem {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	height: 3rem;
	border-radius: 5px;
	padding-left: 5px;
	background-color: var(--gray1-color);
	svg {
		scroll-padding-right: 10px;
		color: var(--gray3-color)
	}
	input {
		border: inherit;
		border-left: none;
		border-right: none;
		width: 100%;
		background: inherit;
		height: inherit;
	}
	input:focus{
		outline: none;
	}
}
.loginItem.error {
	border: 2px solid var(--error-color);
}

.btnLogin {
	background: var(--gradient-color);
	border: 2px solid #ffffff;
	box-sizing: border-box;
	box-shadow: var(--coolShadow-small);
	border-radius: 50px;
	color: var(--light-color);
	width: 200px;
	height: 50px;
}

.input_feedback{
	color: var(--error-color);
	font-size: 14px;
}

@media(max-width: 480px){
	.loginForm{
		box-shadow: var(--coolShadow-small);
	}
}