// autosuggest

.container {
	position: relative;
}

.input {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #aaa;
	border-radius: 4px;
	outline: none;
}

.suggestionsContainerOpen {
	display: block;
	position: absolute;
	top: 46px;
	width: 100%;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
}

.suggestionsList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.suggestionHighlighted {
	background-color: #ddd;
}