@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital@0;1&display=swap");
@import './vars.scss';
@import './dropdown.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-paragraph);
	font-size: var(--base-font-size);
}
h1,
h2,
h3 {
	font-family: var(--font-title);
	font-weight: 700;
}
h1 {
	font-size: var(--title-size);
	margin: 1rem 0;
}
h2 {
	font-size: var(--subtitle-size);
}
h3 {
	font-size: var(--minititle-size);
}
small {
	font-size: var(--small-text-size);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.btn {
	border-radius: 8px;
	border: none;
	padding: 0.5rem 1.5rem;
}
.btn-primary {
	background-color: var(--primary-color);

	&:hover {
		background-color: var(--primary-color);
	}
}

.btn-secondary {
	background-color: var(--secondary-color);

	&:hover {
		background-color: var(--secondary-color);
	}
}

.form-control {
	border: none;
	// width: 600px;
	background-color: var(--gray1-color);
}