:root {
	--primary-color: #394baa;
	--secondary-color: #34d4b7;
	--light-color: #f1f3fc;
	--dark-color: #0d112b;

	--error-color: rgb(235, 54, 54);

	--gray1-color: #e4e6f0;
	--gray2-color: #b3b6c3;
	--gray3-color: #848798;
	--gray4-color: #55586c;
	--gray5-color: #24283f;

	--gradient-color: linear-gradient(
		180deg,
		#394baa 0%,
		rgba(27, 31, 129, 0.9) 100%
	);

	--base-font-size: 16px;
	--title-size: 2rem;
	--subtitle-size: 1.5rem;
	--minititle-size: 1rem;
	--paragraph-size: 1rem;
	--small-text-size: 0.7rem;

	--small-space: 0.5rem;
	--medium-space: 1rem;
	--big-space: 1.5rem;

	--icon-size: 1.5rem;

	--font-title: "Montserrat", sans-serif, system-ui;
	--font-paragraph: "Open Sans", sans-serif;

	--navbar-height: 56px;
	--regular-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

	--coolShadow: -32px 32px 64px 0px rgba(0,0,0,0.44);
	--coolShadow-small: -4px 4px 8px 0px rgba(0,0,0,0.44);
}